@keyframes slideshow {
	0%{left: 0;}
	20%{left: 0;}
    25%{left: -100%;}
    45%{left: -100%;}
    50%{left: -200%;}
    70%{left: -200%;}
    75%{left: -300%;}
    95%{left: -300%;}
    100%{left: -400%;}
    120%{left: -400%;}
    125%{left: -500%;}
    145%{left: -500%;}
    150%{left: -600%;}
    170%{left: -600%;}
    175%{left: -700%;}
    195%{left: -700%;}
    200%{left: -800%;}
    220%{left: -800%;}
    225%{left: -900%;}
    245%{left: -900%;}
}

#slider {
	overflow: hidden;
	width: 70%;
	height: 420px;
	margin-top: 9%;
	margin-left: auto;
	margin-right: auto;
}

#container1 {
	position: relative;
	width: 1000%;
	height: 420px;
	margin: 0 auto;
	background: transparent;
	text-align: left;
	clear: both;
	animation: slideshow 15s infinite;
}

#container2{
    position: relative;
	width: 1000%;
	height: 420px;
	margin: 0 auto;
	background: transparent;
	text-align: left;
	clear: both;
	animation: slideshow 15s infinite; 
}

.slides {
	position: relative;
	width: 10%;
	height: 420px;
	float: left;
	padding: 0px;
	margin: 0px;
}

body {
max-width: 1200px; margin: 0 auto }

div {
    background-color: azure;
}

div.left {
width: 20%; 
padding: 0 0 0 5%;
float: left}

div.content {
width: 40%;
padding: 0 5%;
float: left}

div.right {
width: 20%; 
padding: 0 5% 0 0;
float: left}

div.prevention {
    width: 47%;
    padding: 10px;
    float: left
}

div.surveilance {
    width: 47%;
    padding: 10px;
    float: right
}