nav a:hover{
    color: #a28351;
}

nav {
    overflow: hidden;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
    background-color: powderblue;
    top: 0;
    margin: 0;
    padding: 0;
}

nav a {
    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    font-family:Chalkduster,fantasy;
    color: #333 ;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
    transition: all 0.25s linear;
}

h2 {
    margin: 2em 0 0 0;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    margin-top: 5px;
    padding-bottom: 3px;
    font: bold 2.9em/1em 'Trebuchet MS', Tahoma, Sans-serif;
    color: black;
    letter-spacing: -1px;   
    text-transform: none;
    text-align: center;     
    left: 0px;
 }

body{
    background-color: powderblue;
}


 table, th, td {
         border: black;
         border-collapse: collapse;
         font: bold 1.3em/1.5em 'Trebuchet MS', Tahoma, Sans-serif;
 }
 
 th, td {
         padding: 5px;
 }
 
 td {
         font-size: 18px;
 }
 
 th {
         text-align: left;
         background-color: rgb(210, 215, 211);
 }


section#section2 {
     background-color: #A2DED0;
     font-family: sans-serif;
     color: white;
     padding: 3em 0;
     margin-top: 3em;
}

section#section3 {
     background-color: rgba(119, 207, 207,0.7);
     font-family: sans-serif;
     padding: 3em 0;
}





article{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 17px;
    margin: 2em 0 0 0;


}

img {
    width: 35%;
}

#Home {
    background-color: white;  
    transition: box-shadow .3s;
    border-radius:10px;
    border: 1px solid #ccc;
    background: #fff;
     
}

#Home img[src="images/img1.png"] {
    width: 201vh;
    height: 100vh;

}

#Home img {
    width: 49.5%;
    height: 50vh;
    padding-left: 2px;   

}

#Home:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#section4 img[src="images/img6.png"] {
  width: 201vh;
  height: 100vh;
 
}

#section4 article:nth-child(0) {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

footer{
    background-color: white;
}





