html{
    height: 100%;
    margin: 0 auto;
    font-size: 20;
    background-color: white;
}

nav {
    width: 98.8%;
    height: 18px;
}

ul {
    list-style-type: none;
    width: inherit;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF4500;
}

li.navTab{
    float: right;
}

section {
    height: 100%;
    margin: -48px auto;
    background-color: white;
}

section#Home{
    background-image: url("../images/img1.png");
    text-align: center;
    height: 107%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#News{
    background-color: yellow;
}

section#Events{
    background-color: orange;
}

section#Anouncements{
    background-color: lightblue;
}

section.sec{
    height: 112%;
    width: inherit;
    background-size: cover;
}

article#art1{
    position: relative;
    width: 100%; 
    height: 250px; 
    top: 30%;
    float: center;
}

article#art2{
    position: relative;
    width: 100%; 
    height: 250px; 
    top: 30%;
    float: center;
    font-size: 30;
    color: white;
}

footer {
    margin: 10 auto;
    height: 120px;
    background-color: lightgreen;
}

p {
    text-indent: 50px;
}

p#pp{
    float: center;
}

p#p1 {
    height: inherit;
    width: 50%;
    float: left;
    margin: inherit;
}

p#p2 {
    height: inherit;
    width: 50%;
    float: right;
    margin: inherit;
}

b.ci {
    font-size: 18;
}